
  /***
   *  config utc
   ***/
:root {
  /*** Theme primary color ***/
  --pod-primary: #184e5b;
  --bs-primary-rgb: 24, 78, 91;
  /* a light variant of primary color, used for button hover */
  --pod-primary-lighten: #FFD700;
  /* a dark variant of primary color, used for active links and disabled buttons */
  --pod-primary-darken: #ffd700;
  /* les valeurs '...-dark' ci-dessous sont pour le mode sombre.*/
  --pod-primary-dark: #184e5b;
  --pod-primary-lighten-dark: #ffd700;
  --pod-primary-darken-dark: #ffff00;
  --pod-background-dark: #2a2a2a;
  --pod-btn-text: #ffffff;
  --pod-btn-text-dark: #ffd700;
  --pod-font-color-dark: #ffffff;
  --pod-background-neutre2-bloc-dark: #184e5b;
}